body{
    background-color: #edf2f4;
    color: #2b2d42;
    font-family: "Xanh Mono";
    margin: 0;
    padding: 0;
}
#name{
    color: #d90429;
}
#bio{
    color: #8d99ae;
}
#footer{
    background-color: white;
    color: black;
    display: flex;
    justify-content:space-between;
    position: fixed;
    bottom: 0;
    width: 75%;
    box-sizing: border-box;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0px 0px 10px 1px #ef233c;

}
#nav{
    background-color: white;
    color: black;
    position: fixed;
    margin: auto;
    width: 75%;
    top: 0px;
    left: 0;
    right: 0;
    border-radius: 0% 0% 15px 15px;
    box-shadow: 0px 0px 10px 1px #ef233c;
}
#cc{
    padding-left: 15px;
}
#footLinks{
    gap: 15px;
    display:inline-flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0px;
    padding-right: 15px;
    
}
#navLinks {
    padding-right: 15px;
    gap: 15px;
    display: flex;
    justify-content:flex-end;
    float: right;
    list-style: none;
}
#myPhoto{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 1px #ef233c;
}

#intro{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 300px auto 0 auto;
    width: 600px
    ;
}
.button{

}